<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpago.mapper.BoardMapper">
<sql id="dynamicSearch">
	<trim prefix="and (" suffix=")" prefixOverrides="or"> 
		<foreach collection="typeArr" item="t">
			<trim prefix="or">
				<choose>
					<when test="t == 'T'.toString()">
					title like concat('%',#{keyword},'%')
					</when>
					<when test="t == 'C'.toString()">
					content like concat('%',#{keyword},'%')
					</when>
					<when test="t == 'N'.toString()">
					nickname like concat('%',#{keyword},'%')
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>
<!-- 목록 조회 -->
<select id="getList" resultType="kr.co.mpago.domain.Board">
	select * from tbl_board join tbl_member using(userno) order by bno desc
</select>
<!-- 단일 조회 -->
<select id="get" resultType="kr.co.mpago.domain.Board">
	select * from tbl_board join tbl_member using (userno) where bno = #{bno}
</select>
<select id="categoryList" resultType="kr.co.mpago.domain.Board">
	select * from tbl_board where bcate = #{bcate}
</select>
<!-- 게시글 총 갯수 조회 -->
<!-- <select id="getTotal" resultType="int">
	select count(*) from tbl_board
</select> -->
<!-- 게시글 등록 -->
<insert id="insert">
	INSERT INTO tbl_board
	(bcate, userno, title, content)
	VALUES (#{category}, #{userno}, #{title}, #{content})
</insert>
<!-- 게시글 수정 -->
<update id="modify">
	update tbl_board set title = #{title}, content = #{content} where bno = #{bno}
</update>
<!-- 게시글 삭제 -->
<delete id="delete">
	delete from tbl_board where bno = #{bno} 
</delete>

<select id="getListWithPaging" resultType="kr.co.mpago.domain.Board">
    select * from tbl_board join tbl_member using (userno) where bcate = #{category}
    <include refid="dynamicSearch" />
    order by bno desc limit #{amount} offset #{offset}
</select> 

<select id="getTotal" resultType="int">
 select count(*) from tbl_board join tbl_member using (userno) where bcate = #{category}
 <include refid="dynamicSearch" />
</select>

<update id="updateReplyCnt">
	update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
</update>
</mapper>
