<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpago.mapper.CastMapper">
	<insert id="insertCast">
		insert into tbl_cast(name, profileImage, birthDate) values (#{name}, #{profileImage}, #{birthDate})
	</insert>
	<insert id="insertCastWithCastno">
		insert into tbl_cast(castno, name, profileImage, birthDate) values (#{castno}, #{name}, #{profileImage}, #{birthDate})
	</insert>
	<select id="selectCast" resultType="kr.co.mpago.domain.Cast">
		select * from tbl_cast where castno = #{castno}
	</select>	
	<delete id="deleteCast" >
		delete from tbl_cast where castno = #{castno}
	</delete>
	<update id="updateCast">
		update tbl_cast set name = #{name}, ProfileImage = #{profileImage}, birthDate = #{birthDate}
			where castno = #{castno}
	</update>
	<select id="selectCastList" resultType="kr.co.mpago.domain.Cast">
		select * from tbl_cast
	</select>
	
	<!-- 통합검색(배우) -->
	<select id="searchCastMain" resultType="kr.co.mpago.domain.Cast">
	select profileImage, name from tbl_cast where name like concat('%',#{search},'%') limit 10
	</select>
	
	<select id="searchCastList" resultType="kr.co.mpago.domain.Cast">
	select profileImage, name from tbl_cast where name like concat('%',#{search},'%')
	</select>
</mapper>