<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mpago.mapper.MovieGenreMapper">
	<insert id="insertMovieGenreMapping">
		insert into tbl_moviegenre(mno, gno)
		values (#{mno}, #{gno})
	</insert>
	<delete id="deleteMovieGenreMapping">
		delete from tbl_moviegenre where mgno = #{mgno}
	</delete>
	<update id="updateMovieGenreMapping">
		update tbl_moviegenre set mgno = #{mgno}, mno = #{mno}, gno = #{gno}
	</update>
	<select id="selectGenreListByMovie" resultType="map">
		select * from tbl_genre
		join tbl_moviegenre using (gno) where mno = #{mno}
	</select>
	<select id="selectListByMovie" resultType="kr.co.mpago.domain.MovieGenre">
		select * from tbl_moviegenre where mno = #{mno}
	</select>
	<select id="selectListByGenre" resultType="kr.co.mpago.domain.MovieGenre">
		select * from tbl_moviegenre where gno = #{gno}
	</select>
	<select id="selectFirstTenByGenreList" resultType="kr.co.mpago.domain.MovieGenre" >
		select * from tbl_moviegenre where gno = #{gno} limit 10
	</select>
	<select id="selectFirstTenByGenreListWithLanguage" resultType="map" >
		select * from tbl_moviegenre join tbl_movie using(mno) where gno = #{gno} and language = #{language} limit 10
	</select>
	<select id="selectMovieListByGenreAndLanguage" resultType="map">
		select * from (
		    select *, row_number() over (order by m.mdate desc) as rnum
		    from tbl_movie m
		    join tbl_moviegenre mg using (mno)
		    where mg.gno = #{gno} and m.language = #{language}
		) as tbl
		where rnum between #{offset} + 1 and #{offset} + #{amount}
	</select>
	<select id="selectTotalByGenreAndLanguage" resultType="int">
		select count(*) from tbl_movie
		join tbl_moviegenre using (mno) 
		where gno = #{gno} and language = #{language}	
	</select>
	<select id="selectMovieListByGenre" resultType="map">
		select * from tbl_moviegenre join tbl_movie using(mno) where gno = #{gno} and language = #{language}
	</select>
	<select id="selectTotalByGenre" resultType="int">
	    select count(*) from tbl_movie
	    join tbl_moviegenre using (mno) 
	    where gno = #{gno}
	</select>
	
</mapper>